extends layout.pug

block content
    h1 Contact
    p Envoyez-nous un message

    form(action="/contact" method="post")
        input(type="text" name="name" placeholder="Nom")
        input(type="email" name="email" placeholder="Email")
        textarea(name="message" placeholder="Message")

        button(type="submit") Envoyer

    if message
        p #{message}  
    
    style.
        h1,p {
          text-align: center;
        }
        form {
            max-width: 400px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        button {
            padding: 10px;
            background: #ccc;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }