<!Doctype html lang="fr">
html
  head
    meta(charset="utf-8")
    title= "Hello World"
  body
    h1 Hello World !
    div(class="test")
      p
        | Ligne 1,
        | ligne 2,
        | ligne 3.
    div(class=['test', 'test2'])
      p.
         Ligne1,
         Ligne2,
         Ligne3.
    div(style="color:white;background:black;")
      p Bonjour depuis le div3
    div(style={color:'white', background:'green', padding:'10px'})
      p Bonjour depuis le div4
    .container 
      .row.row1(style="display:flex;flex-wrap:wrap")
        .col.col-1 
          label(for="maCheckbox")  col1
          input(type='checkbox' name='maCheckbox' id='maCheckbox' checked )
        .col.col-2 col2
          p #{name}
          p= name
        .col.col-3 col3
      .row.row2
        .col.col-1 col6
        .col.col-2 col7
        .col.col-3 col8 
          a(href='google.com') Google.com
    style.
      .row {
        display:flex;
        flex-wrap:wrap;
        gap:10px;
        margin-bottom: 10px;
      }
      .container{
        max-width: 1200px;
        margin: 0 auto;
        background: #ccc;
        padding: 10px;
      }
      .col {
        //- flex-basis: 33.33%;
        //- flex: 1 1 auto;
        flex: 1 1 200px;
        padding: 10px;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
  

 