extends layout.pug

block content
  h1 Hello World !

  ul
    each student in students
      li #{student.name} - #{student.email} ans

  style.
    .row {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 10px;
    }
    .container {
      margin: 0 auto;
      //- background: #c33;
      padding: 10px;
    }
    .col {
      flex: 1 1 200px;
      padding: 10px;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    img {
      width: 200px;
    }

