doctype html
html
  head
    title Mon Site
    meta(charset="utf-8")
  body
    include navbar.pug 

    block content  

style.
  * {
    margin: 0;
    padding: 0;
  }
  div{
        max-width: 1200px;
        margin: 0 auto;
        background: #ccc;
        padding: 10px;
  }