nav.navbar(style="background: #333; color: white; padding: 10px;")
  ul(style="list-style: none; display: flex; gap: 15px; margin: 0; padding: 0;")
    li 
      a(href="/", style="color: white; text-decoration: none;") Accueil
    li 
      a(href="/about", style="color: white; text-decoration: none;") À propos
    li 
      a(href="/contact", style="color: white; text-decoration: none;") Contact
    li 
      a(href="/login", style="color: white; text-decoration: none;") Connexion
    li 
      a(href="/register", style="color: white; text-decoration: none;") Inscription
    li 
      a(href="/users/new", style="color: white; text-decoration: none;") S'inscrire
